* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #000;
    padding: 30px 0;

    &__box {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h3 {
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}

.cart {
    display: flex;
    position: relative;

    & input {
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        height: 24px;
        font-size: 16px;
        padding: 0 0 6px 12px;
        width: 160px;
        margin-right: 8px;
    }

    &__btn {
        margin-left: 16px;
        padding: 8px 20px;
        color: #000;
        border: none;
        border-radius: 6px;
    }

    &__box {
        position: absolute;
        top: 50px;
        right: -5px;
        background: #fff;
        border: 1px solid #000;
        min-height: 100px;
        width: 400px;
        border-radius: 6px;
        padding: 16px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid #ccc;
        width: 380px;
    }

    &-left {
        display: flex;
    }

    &__desc {
        margin-left: 12px;

        &-name {
            margin-top: 6px;
            font-weight: bold;
            font-size: 20px;
        }

        &-quantity {
            margin-top: 8px;
        }

        &-price {
            margin-top: 12px;

            & span {
                font-size: 12px;
            }
        }
    }

    & a {
        text-decoration: none;
        margin-top: 6px;
        font-size: 16px;

        &:hover {
            text-decoration: underline;
        }
    }

    &-empty {
        font-size: 24px;
        font-weight: bold;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-price{
            margin-top: 16px;
            font-size: 18px;
        }

        &-btn {
            margin-top: 6px;
            font-size: 16px;
            padding: 8px 14px;
            color: #fff;
            background: #000;
            border: none;
            border-radius: 6px;
        }
    }

    &-count {
        position: absolute;
        top: -20px;
        right: -17px;
        padding: 6px 10px;
        background: red;
        color: #fff;
        border-radius: 50%;
        text-align: center;
    }
}



.hidden {
    display: none;
}

.products {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.desc {
    border: 1px solid #ccc;
    padding: 26px 0 20px 24px;

    & button {
        margin-top: 12px;
        padding: 6px 18px;
        border-radius: 6px;
        border: none;
        background: #000;
        color: #fff;
    }
}

.product-name {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 6px;
}