    h1{
	color:#0D418D;	
	}
	h3 {
	color:#0D418D;
	}
	[href="https://www.tulamilk.ru/products/syry/syr-tvorozhnyy-slivochnyy-v-vedre/"]{
		color:#067DC1;
	}
	.ingredients{
	color:#9211C6;
	}
	.knight{
		color:#DA421C;
	}
	body{
	font-size:20px;
	background:#FFFEDE;
	margin-left:200px;
	margin-right:200px;	
    font-family: 'Rubik', sans-serif;
	}
	.ny{
		font-size:25px;
	}
	.center{
		margin-left:500px;
	}
	