* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  width: 100%;
  background: #A4EEEB;
  padding: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto 100px;
      grid-template-columns: 100px auto 100px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__box {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form {
  position: relative;
}

.header input {
  display: none;
}

.header label {
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.header__menu {
  display: none;
  width: 140px;
  position: absolute;
  top: 36px;
  left: -26px;
  padding: 0 20px 20px 16px;
}

.header__menu a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  margin-top: 16px;
}

.header__menu a:hover {
  text-decoration: underline;
}

.header #html-btn:checked ~ .header__menu,
.header #css-btn:checked ~ .header__menu,
.header #js-btn:checked ~ .header__menu,
.header #games-btn:checked ~ .header__menu {
  display: block;
}

.header .html {
  background: #BB5309;
}

.header .css {
  background: #1E75CB;
}

.header .js {
  background: #D1C512;
}

.header .games {
  background: #42B745;
}

.footer {
  background: #000;
  width: 100%;
  text-align: center;
}

.footer p {
  color: #fff;
  padding: 24px 0;
}

.guess {
  margin: 200px auto;
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.guess h1 {
  font-size: 30px;
}

.guess p {
  margin-top: 16px;
}

.guess input {
  margin: 60px auto 0;
  max-width: 120px;
  width: 100%;
  text-align: center;
  outline: none;
  background: #F2F6F6;
  border: none;
  min-height: 30px;
  border-bottom: 1px solid #000;
}

.guess input:focus {
  outline: 1px solid #A4EEEB;
  border: none;
  background: #fff;
}

.guess button {
  max-width: 100px;
  width: 100%;
  margin: 40px auto 0;
  border: none;
  background: #A4EEEB;
  padding: 8px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.guess a {
  text-decoration: none;
  margin: 40px auto;
  max-width: 100px;
  width: 100%;
  padding: 8px 22px;
  background: #42B745;
  color: #000;
}

.www {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  margin: 90px auto;
  text-align: center;
}

.www h1 {
  font-size: 30px;
}

.www__img-box {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.www__img-box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.www p {
  margin-top: 32px;
}

.www input {
  margin: 24px auto 0;
  max-width: 180px;
  width: 100%;
  min-height: 30px;
  border: none;
  background: #F2F6F6;
  border-bottom: 1px solid black;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
}

.www input:focus {
  background: #fff;
  border: none;
  outline: 1px solid #A4EEEB;
}

.www button {
  max-width: 100px;
  width: 100%;
  margin: 40px auto 0;
  border: none;
  background: #A4EEEB;
  padding: 8px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.www a {
  text-decoration: none;
  margin: 40px auto 0;
  max-width: 100px;
  width: 100%;
  padding: 8px 22px;
  background: #42B745;
  color: #000;
}

.blind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  margin: 90px auto;
  text-align: center;
}

.blind h1 {
  font-size: 30px;
  margin: 32px 0;
}

.blind p {
  margin: 18px 0;
}

.blind #text {
  font-size: 20px;
}

.blind input {
  margin: 24px auto 0;
  max-width: 180px;
  width: 100%;
  min-height: 30px;
  border: none;
  background: #F2F6F6;
  border-bottom: 1px solid black;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
}

.blind input:focus {
  background: #fff;
  border: none;
  outline: 1px solid #A4EEEB;
}

.blind button {
  max-width: 100px;
  width: 100%;
  margin: 40px auto 0;
  border: none;
  background: #A4EEEB;
  padding: 8px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.blind a {
  text-decoration: none;
  margin: 40px auto 0;
  max-width: 100px;
  width: 100%;
  padding: 8px 22px;
  background: #42B745;
  color: #000;
}

.roulette {
  max-width: 900px;
  width: 100%;
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roulette h1 {
  font-size: 30px;
}

.roulette__img {
  margin-top: 40px;
}

.roulette__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.roulette p {
  text-align: center;
  margin-top: 46px;
}

.roulette input {
  margin: 24px auto 0;
  max-width: 180px;
  width: 100%;
  min-height: 30px;
  border: none;
  background: #F2F6F6;
  border-bottom: 1px solid black;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
}

.roulette input:focus {
  background: #fff;
  border: none;
  outline: 1px solid #A4EEEB;
}

.roulette button {
  max-width: 100px;
  width: 100%;
  margin: 40px auto 0;
  border: none;
  background: #A4EEEB;
  padding: 8px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.roulette a {
  text-decoration: none;
  margin: 40px auto 0;
  max-width: 100px;
  width: 100%;
  padding: 8px 22px;
  background: #42B745;
  color: #000;
}

.roulette .balance {
  margin-top: 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roulette .balance p {
  margin: 0 0 0 18px;
  font-size: 20px;
}

.roulette__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roulette #numberBox,
.roulette #colorBox {
  display: none;
}

.main__gif {
  margin: 36px auto;
  max-width: 763px;
  width: 100%;
}

.main__gif img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 72px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.content a {
  text-decoration: none;
  border: 1px solid #ccc;
  padding-bottom: 12px;
}

.content a:hover {
  text-decoration: underline;
}

.content a img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content a h3 {
  color: #6A3CE7;
  padding-left: 16px;
}

.content a p {
  color: #000;
  padding-left: 16px;
}

.dao {
  max-width: 900px;
  width: 100%;
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dao h1 {
  font-size: 30px;
}

.dao__img {
  margin-top: 40px;
}

.dao__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dao fieldset {
  margin-top: 54px;
  border: 1px solid black;
  padding: 16px 22px;
  max-width: 800px;
  width: 100%;
}

.dao fieldset legend {
  font-style: italic;
  margin-left: 18px;
  padding: 0 8px;
}
/*# sourceMappingURL=sList.css.map */